h2 {
    text-align: center;
}
.ui-form {
    max-width: 720px;
    padding: 15px;
    margin: 20px auto 0 auto;
    background-color: #ccc;
}
.field {
    padding: 8px;
    display: flex;
}
.input {
    flex: 1;
    margin-left: 20px;
}
label {
    min-width: 50px;
}
.table {
    max-width: 720px;
    margin: 20px auto 0 auto;
}
.btn {
    margin-right: 8px;
}
.disabled {
    text-align: center;
}
.btn-back {
    text-align: center;
    margin-top: 20px;
}
.btn-add {
    text-align: center;
}
